@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 15px;
}

.container-box {
    position: absolute;
    display: flex;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;

}

.box1,
.box2,
.box3 {
    background-color: aquamarine;
    width: 300px;
    height: 500px;
}

.box1 {
    background-color: hsl(31, 77%, 52%);
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}

.box2 {
    background-color: hsl(184, 100%, 22%);
    border-left: 0.5px solid hsl(179, 100%, 13%);
}

.box3 {
    background-color: hsl(179, 100%, 13%);
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

.container-box img,
h1,
p {
    padding: 2.5rem 0 0 2.5rem;

}

.container-box h1 {
    font-size: 2.5rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: 'Big Shoulders Display';
    color: hsla(0, 0%, 100%, 1);

}

.container-box p {
    line-height: 1.5rem;
    width: 230px;
    font-family: 'Lexend Deca', sans-serif;
    color: hsla(0, 0%, 100%, 0.60);
}

.container-box input {
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    width: 8.5rem;
    height: 2.8rem;
    border-radius: 2.5rem;
    border: 0;
    margin: 5rem 0 0 2.5rem;
}

.box1 input {
    color: hsl(31, 77%, 52%);
}

.box2 input {
    color: hsl(184, 100%, 22%);
}

.box3 input {
    color: hsl(179, 100%, 13%);
}

.container-box input:hover {
    background-color: rgba(240, 248, 255, 0);
    border: 2px solid white;
    color: white;
    cursor: pointer;
}